node_modules/
Frontend/node_modules/
Backend/node_modules/

Frontend/dist/

.env
Backend/.env
Frontend/.env

assets/

*.zip
*.7z
*.rar

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.swp
*.swo

*.log
npm-debug.log*
